<!DOCTYPE html>
<html>
<head>
    <title>YelpCamp</title>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/main.css">

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #E9ECEF; margin-bottom: 30px; font-size: 1.5rem">
        <div class="container-fluid">
            <a class="navbar-brand" href="/campgrounds" style="font-size: 1.5rem">YelpCamp</a>
                <ul class="nav ml-auto">
                    <% if(!currentUser){ %>
                        <li class="ml-5"><a href="/login">Login</a></li>
                        <li class="ml-5"><a href="/register">Sign Up</a></li>
                    <% }else{ %>
                        <li>Signed In As: <strong><%= currentUser.username %></strong> </li>
                        <li class="ml-5"><a href="/logout">Logout</a></li>
                    <% } %>
                </ul>
        </div>
    </nav>


    <div class="container">
        <% if(error && error.length > 0 ){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0 ){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>




