<% include ./partials/header %>
<div class="container">
    <h1 style="text-align: center; margin: 25px auto;"> Sign Up!</h1>
    <div style="width: 100%; margin: 30px auto; max-width: 40rem;">
        <form id="registrationForm" action="/register" method="POST" enctype="multipart/form-data">
                <input class="form-group w-100" type="text" name="username" placeholder="username">
                <input class="form-group w-100" type="password" name="password" placeholder="password">
                <input class="form-group w-100" type="text" name="firstName" placeholder="first name">
                <input class="form-group w-100" type="text" name="lastName" placeholder="last name">
                <input class="form-group w-100" type="email" name="email" placeholder="example@mail.com">
                <input class="form-group w-100" type="file" id="avatar" name="avatar" accept="image/*">
                <textarea class="form-group w-100" name="about" placeholder="Shortly about your self" rows="4"></textarea>
            <div>
                <label for="adminCheck">Wanna be an admin:</label>
                <input type="checkbox" id="adminCheck">
            </div>
            <div class="form-group">
                <input type="password" name="adminCode" placeholder="You must to know a key" id="adminField">
            </div>
            <button id="registrationFormTrigger" type="submit">Sign Up</button>

        </form>
    </div>
</div>
<script>
    var checkBox = document.getElementById("adminCheck");
    var adminField = document.getElementById("adminField");
    checkBox.addEventListener("change", function(){
      if(checkBox.checked){
          adminField.style.display = "block";
      }else{
          adminField.style.display = "none";
      }
    });
</script>
<% include ./partials/footer %>