<% include ../partials/header%>

  <header class="jumbotron" style="margin: 20px auto">
    <div class="container">
      <h1> Welcome To YelpCamp!</h1>
      <p>View our hand-picked campgrounds from all over the world</p>
      <p>
        <a class="btn btn-primary btn-large" href="/campgrounds/new">Add New Campground</a>
      </p>
      <p>
      <form action="/campgrounds" method="GET" class="form-inline">
        <div class="form-group">
          <input type="text" name="search" placeholder="Campground search ..." class="form-control">
          <input type="submit" value="Search" class="btn btn-default" style="margin-left: 5px">
        </div>
      </form>
      </p>
    </div>
  </header>
  <div class="row text-center">
    <% if(message && message.length> 0){ %>
      <div class="container">
        <div class="alert alert-danger" role="alert">
          <%= message %>
        </div>
      </div>
      <% }; %>
        <% campgrounds.forEach(function(item){ %>
          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="card" style="margin-top: 10px">
              <img class="card-img-top" src="<%= item.image %>" alt="campground thumb image"
                style="height: 11em; object-fit: cover;">
              <div>
                <h4>
                  <%=item.name%>
                </h4>
              </div>
              <p>
                <a href="/campgrounds/<%= item._id%>" class="btn btn-primary">More Info</a>
              </p>
            </div>
          </div>
          <% }); %>
  </div>


  <% include ../partials/footer%>